{% extends "store/base.html" %}
{% block content %}
<h2>{{ product.name }}</h2>
<div>
	<div class="row">
	<div class="col-6">
		<img src="{{product.image.url}}">
	</div>
	<div class="col-6">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
{% endif %}
		<div>{{product.description}}</div>
		<div>Price: {{product.price}}</div>
		<form method="get" action="{% url 'add_to_cart' pk=product.pk %}">
			<input name="quantity" type="number" min="1" max={{product.quantity}} value="1">
			<input type="submit" value="Add to cart" class="btn btn-info">
		</form>

	</div>
	</div>
</div>
{% endblock content %}