{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h2>{{ product.name }}</h2>
<div>
	<div class="row">
	<div class="col-6">
		<img src="{{ product.image.url }}">
	</div>
	<div class="col-6">
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
{% endif %}
		<h4 class="mb-sm-4">{{product.description}}</h4>
				 <form method="POST" action="{% url 'add_to_cart' %}">
            {% csrf_token %}
					 <div id="item-sizes-data">{{form.size|as_crispy_field}}</div>
					 <div>Quantity</div>
					 <select id="items-size-quantity" name="quantity" class="form-control mb-sm-1">{{form.quantity}}</select>
					 <div>
					   <a>Price per item: </a>
					   <span id="price"></span>
					 </div>
					 <div>
					   <a class="font-weight-bold text-secondary">Total price:</a>
						 <span class="font-weight-bold text-secondary" id="total_price"></span>
					 </div>
					 <div class="mt-sm-4">
						<input type="submit" value="Add to cart" id="submit-button"class="btn btn-info">
					 </div>
				</form>

	</div>
	</div>
</div>
{% load static %}
  <script src="{% static 'store/main.js' %}" type="text/javascript" defer></script>

{% endblock content %}